Extensibility/bin/
packages/
UI/bin/
UI/obj/
Model/obj/
Extensibility/obj/
NetClient.v12.suo
Model/bin/
Kernel/obj/
Core.v12.suo
Core.suo
Kernel/bin/
Persistence/obj/
Persistence/bin/
Kernel/settings.config
Tests/bin/
Tests/obj/
Tests.Kernel/bin/
Tests.Kernel/obj/
WindowsService/bin/
WindowsService/obj/
.vs/
ConsoleService/bin/
ConsoleService/obj/
